<?xml version="1.0" ?><config>
    <!--<modules>-->
        <!--<Icommerce_Order>-->
            <!--<version>0.1.19</version>-->
        <!--</Icommerce_Order>-->
    <!--</modules>-->
    <!--<global>-->
        <!--<models>-->
            <!--<icorder>-->
                <!--<class>Icommerce_Order_Model</class>-->
            <!--</icorder>-->
        <!--</models>-->
        <!--<helpers>-->
            <!--<icorder>-->
                <!--<class>Icommerce_Order_Helper</class>-->
            <!--</icorder>-->
        <!--</helpers>-->
        <!--<events>-->
            <!--<checkout_type_onepage_save_order_after>-->
                <!--<observers>-->
                    <!--<icommerce_order_save_order_after>-->
                        <!--<type>singleton</type>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>onSaveOrderAfter</method>-->
                    <!--</icommerce_order_save_order_after>-->
                <!--</observers>-->
            <!--</checkout_type_onepage_save_order_after>-->

            <!--<sales_quote_save_after>-->
                <!--<observers>-->
                    <!--<icommerce_order_quote_save_after>-->
                        <!--<type>singleton</type>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>onSaveQuoteAfter</method>-->
                    <!--</icommerce_order_quote_save_after>-->
                <!--</observers>-->
            <!--</sales_quote_save_after>-->
            <!--<sales_order_save_after>-->
                <!--<observers>-->
                    <!--<icommerce_order_order_save_after>-->
                        <!--<type>singleton</type>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>onSalesOrderSaveAfter</method>-->
                    <!--</icommerce_order_order_save_after>-->
                <!--</observers>-->
            <!--</sales_order_save_after>-->
        <!--</events>-->
    <!--</global>-->
    <!--<adminhtml>-->
        <!--<acl>-->
            <!--<resources>-->
                <!--<all>-->
                    <!--<title>Allow Everything</title>-->
                <!--</all>-->
                <!--<admin>-->
                    <!--<children>-->
                        <!--<system>-->
                            <!--<children>-->
                                <!--<config>-->
                                    <!--<children>-->
                                        <!--<icorder module="icorder" translate="title">-->
                                            <!--<title>Admin - Order</title>-->
                                        <!--</icorder>-->
                                    <!--</children>-->
                                <!--</config>-->
                            <!--</children>-->
                        <!--</system>-->
                    <!--</children>-->
                <!--</admin>-->
            <!--</resources>-->
        <!--</acl>-->
        <!--<events>-->
            <!--<sales_order_payment_cancel>-->
                <!--<observers>-->
                    <!--<sales_order_cancel>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>salesOrderCancel</method>-->
                    <!--</sales_order_cancel>-->
                <!--</observers>-->
            <!--</sales_order_payment_cancel>-->
            <!--&lt;!&ndash; Both messages are called when refunding an order, so only one should be listened to....-->
            <!--<sales_order_creditmemo_refund>-->
                <!--<observers>-->
                    <!--<sales_order_refund>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>salesOrderRefund</method>-->
                    <!--</sales_order_refund>-->
                <!--</observers>-->
            <!--</sales_order_creditmemo_refund>-->
<!--&ndash;&gt;-->
            <!--<sales_order_payment_refund>-->
                <!--<observers>-->
                    <!--<sales_order_refund>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>salesPaymentRefund</method>-->
                    <!--</sales_order_refund>-->
                <!--</observers>-->
            <!--</sales_order_payment_refund>-->
            <!--<checkout_submit_all_after>-->
                <!--<observers>-->
                    <!--<icommerce_order_save_order_after>-->
                        <!--<type>singleton</type>-->
                        <!--<class>icorder/observer</class>-->
                        <!--<method>onSaveOrderAfter</method>-->
                    <!--</icommerce_order_save_order_after>-->
                <!--</observers>-->
            <!--</checkout_submit_all_after>-->
        <!--</events>-->
    <!--</adminhtml>-->
    <!--<default>-->
        <!--<icorder>-->
            <!--<payments>-->
                <!--<paypal_dispatch_success_on_return>1</paypal_dispatch_success_on_return>-->
            <!--</payments>-->
        <!--</icorder>-->
    <!--</default>-->
</config>
